.wrapper-content {
    margin: 2px;
}

.page-heading {
    border-top: 0;
    padding: 1vh;
    color: #676a6c;
}

.border-bottom {
    border-bottom: 1px solid #e7eaec !important;
}

.m-b-none {
    margin-bottom: 0;
}

.input-group-addon {
    display: table-cell;
}

.m-t {
    margin-top: 15px;
}

.btn {
    font-family: 'Raleway', 'Source Sans', sans-serif;
    font-weight: 400;
    border-radius: 0;
}

.btn-default {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}

.panel-body {
    background: #fff;
    border: 1px solid #e7eaec;
    border-top: none;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}